*.DS_Store
build-*
*.pro.user
icons/*
testSuite/*
uploads/*
.*
*.iml

# below for android project
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
