table td
{
    padding:0px;
    
    width: 178px;
    height: 133px;
    display: inline-block;
    overflow: auto;
}


#messagewindow 
{
font-size: 18pt; height:140px; width:380px ;box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; position:absolute; left:208px; top:140px;

}
