table.five td
{
    padding:0px;
    width: 180px;
    height: 103px;
    overflow: auto;
}

table.four td
{
    padding:0px;
    width: 180px;
    height: 133px;
    overflow: auto;
}

table
{
border-collapse: collapse;
    padding:0px;

}

img.four
{
max-height: 110px;
max-width: 160px;

}
img.five
{
max-height: 70px;
max-width: 100px;

}

#messagewindow 
{
font-size: 18pt; height:136px; width:370px ;box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; position:absolute; left:193px; top:155px;

}
