<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="azulejoe.css">
    <link rel="stylesheet" type="text/css" href="note.css">
    <script language="javascript" src="javascript/sha1.js"></script>
</head>


<body onload="start()">
    <!--Used to put in the loading graphic-->
    <!--START THE FOUR CONTROLS AT THE TOP OF THE PAGE-->

<table id="mainGrid" border=1 height=520 width=720 class="four">
    </table>

    <script language="javascript" src="javascript/read_json.js" type="text/javascript">
    
    </script>
    <div id="box"></div>

</body>

</html>
