<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="azulejoe.css">
    <link rel="stylesheet" type="text/css" href="note.css">
    <script language="javascript" src="javascript/sha1.js"></script>
    <script src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/read_json.js"></script>
</head>        

<body onload = start("ovf" "pageset.json)>
    <div id="box"></div>

    <button onClick="toggleScanning()">Toggle Scanning</button>
</body>

</html>
